@model ABSOLUTE_CINEMA.Domain.Entities.Movie
@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Title (@Model.Year)</h2>
<div class="mb-3">
    <img src="/img/@Model.Id" class="img-fluid" alt="@Model.Title">
</div>
<p>@Model.Description</p>
<p><strong>Страна:</strong> @Model.Country</p>
<p><strong>Жанры:</strong> @string.Join(", ", Model.Genres.Select(g => g.Genre.Name))</p>
<p><strong>Режиссеры:</strong> @string.Join(", ", Model.Directors.Select(d => d.Director.Name))</p>
<p><strong>Актеры:</strong> @string.Join(", ", Model.Actors.Select(a => a.Actor.Name))</p>
@if (!string.IsNullOrEmpty(Model.YouTubeVideoId))
{
    <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model.YouTubeVideoId"></iframe>
    </div>
}