@model IEnumerable<ABSOLUTE_CINEMA.Domain.Entities.Movie>
@{
    ViewBag.Title = "Каталог фильмов";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="/img/@movie.Id" alt="@movie.Title">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">@movie.Year</p>
                    <a href="@Url.Action("Details", new { id=movie.Id })" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    }
</div>