@model ABSOLUTE_CINEMA.Models.Movie

@{
    ViewBag.Title = "Удаление фильма";
}

<h2>@ViewBag.Title</h2>

<h3>Вы уверены, что хотите удалить этот фильм?</h3>
<div>
    <h4>@Model.Title (@Model.Year)</h4>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input type="submit" value="Удалить" class="btn btn-danger" />
        @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
    }
</div>