@model IEnumerable<ABSOLUTE_CINEMA.Models.Movie>

@{
    ViewBag.Title = "Управление фильмами";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить новый фильм", "Create")
</p>

<table class="table">
    <tr>
        <th>Название</th>
        <th>Год</th>
        <th>Страна</th>
        <th>Действия</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@Html.DisplayFor(modelItem => item.Country)</td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
</table>