@model ABSOLUTE_CINEMA.Domain.DTO.PaymentViewModel
@{ ViewBag.Title = "Оформить подписку"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.SubscriptionType)
        @Html.DropDownListFor(m => m.SubscriptionType, new SelectList(new[] { "Monthly", "Annual" }), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CardNumber)
        @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExpiryDate)
        @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CVV)
        @Html.TextBoxFor(m => m.CVV, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Подписаться</button>
}